.contenedor{
    color: white;
    width: 30%;
}
#contenedor1 {
    background-color: red;
    float: left;
}

#contenedor2 {
    background-color: green;
    float: right;
}
#contenedor3 {
    background-color: blue;
    float: right;
}
